<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wing Doc</title>
    <script src="js/jquery-3.1.1.js"></script>
    <script src="js/index.js"></script>
    <link type="text/css" rel="stylesheet" href="css/index.css"/>
</head>
<body>
<div class="header">
    <h1>Wing Doc</h1>
    <a class="github" target="_blank" href="https://github.com/jilieryuyi/wing-doc">
        <img src="img/github.png" />
    </a>
</div>
<div class="left-nav">
    <div class="holder"></div>
    {$left_nav}
</div>
<div class="drag">
</div>
<div class="right-content">
    <div class="holder"></div>
    <div class="content">{$class_html}</div>
</div>
</body>
</html>