body{
    margin: 0;
    padding: 0;
}
ul{
    padding-left: 16px;
}
.hide{display: none;}
.file-list li.bg img{
    width: 12px; height: 12px;
}
.file-list li.r {
    animation: xxx 300ms infinite;
}

@keyframes xxx {
    from {
        transform: rotate(0deg);
    }
    to{
        transform: rotate(90deg);

    }
}
.file-list li{
    cursor: pointer;
    position: relative;
    padding-left: 16px;
    list-style: none;
}
.file-list li span{
    position: absolute;
    padding-left: 3px;
    height: 20px;
}
.file-list li.h{
    height: 25px;
    line-height: 25px;
}
.left-nav li.hover{
    text-decoration: underline;
}
.left-nav li.selected span{
    border-bottom: #f00 solid 3px;
}
.header{
    height: 80px;
    border-bottom: #f00 solid 3px;
    position: fixed;
    left:0;
    top:0;
    width:100%;
    z-index: 15;
    background: #fff;
}
.header h1{
    padding: 0;
    margin: 0;
    font-size: 50px;
    font-weight: bold;
    float: left;
    margin-top: 28px;
}
.left-nav{
    width: 20%;
    overflow-y: scroll;
    overflow-x: hidden;
    border-right: #ccc solid 1px;
    position: fixed;
    left:0;
    top:0;
    height: 98%;
    z-index: 1;
}
.drag{
    width: 1%;
    height: 100%;
    cursor: url(../img/resize.cur),default;
    z-index: 8;
    float: left;
    /* border: #ccc solid 1px; */
    /* margin-left: 30%; */
    position: fixed;
    left: 20%;
    top: 0;
}
.drag img{
    position: absolute;
    width: 98%;
    top: 50%;
}
.right-content{
    width: 79%;
    overflow: scroll;
    position: fixed;
    left:20%;
    top:0;
    height: 100%;
    z-index: 1;
}
.right-content .content{
    padding: 30px;
}
.p22{
    padding-left: 22px !important;
}
.file-path{
    color: #ad4038;
}
.index-count{
    color: #ad4038;
    font-weight: bold;
}
.class-name{

}
.param label{
    display: inline-block;
    border-bottom: #ccc solid 1px;
    border-left:#ccc solid 1px;
    overflow: hidden;
}
.param label.var {
    width: 10%;
}
.param label.type {
    width: 25%;
}
.param label.default {
    width: 6%;
}
.param label.pdoc {
    width:55%;
}

.doc{
    color: #999;
    padding: 16px 0;
    position: relative;
}
.doc img{
    position: absolute;
    left: 2px;
    width: 14px;
}
.class-func{
    color: #222;
    font-weight: 700;
    padding-top: 16px ;
    font-size: 20px;
}
.return{
    color: #999;
    padding: 16px 0;
}
.tip{
    font-size: 12px;
    color: #f00;
}
.holder{
    height: 80px;
    width:100%;
    display: block;
}
.left-holder{
    height: 106px;
    width:100%;
    display: block;
}
.github{
    float: left;
    margin-top:15px;
    cursor: pointer;
}
.github img{
    width: 30px;
}
.http-tip{
}
.search{
    position: fixed;
    left: 0;
    top: 0px;
    background: #fff;
    height: 120px;
    width: 20%;
    z-index: 2;
    padding-bottom: 10px;
    overflow: hidden;
}
.search input{
    height: 25px;
    padding: 0 6px;
    width: 100%;
    border-radius: 3px;
    border: #ccc solid 1px;
    bottom: 10px;
    position: absolute;
    left:32px;
}
.search input:focus{
    outline: none;
}
.doc-tab{
    border-left:#ddd solid 6px;
    padding-left: 15px;
    line-height: 22px;
}
.request .r-item{
    display: inline-block;
    border-left: #ccc solid 1px;
    border-bottom: #ccc solid 1px;
}
.request .data-key{
    width: 12%;
}
.request .data-type{
    width: 8%;
}
.request .data-min{
    width: 5%;
}
.request .data-max{
    width: 5%;
}
.request .data-doc{
    width: 67%;
}
.http-api{
    font-size: 18px;
    font-weight: bold;
    height: 22px;
}
.http-api span{
    /*border-bottom: #f00 solid 3px;*/
    color: #f00
}
.http-api-tip{
    color:#999;
    font-size: 12px;
    padding-bottom: 12px;
}
.http-api-test-btn{
    padding: 3px 12px;
    cursor: pointer;
    border: #ccccd9 solid 1px;
    border-radius: 3px;
    color: #222 !important;
    font-size: 12px;
    margin-left: 10px;
}
.request-response{
    height: 30px;
    line-height: 35px;
}